.container {
  background-color: #01FCFE;
  color: #7F32EC;
  font-family: 'Kanit', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0 2rem;
  z-index: -2;
}

.inputContainer {
  padding: 2rem;
}

.button {
  background: #7F32EC;
  color: #B2F50C;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mic {
height: 10rem;
width: 10rem;
position: relative;
border-radius: 50%;
z-index: 2;
/* background: radial-gradient(rgba(0, 0, 0, 0.1) -2px, transparent);
backdrop-filter: blur(20px);
clip-path: circle(200%); */
}

.circle1,
.circle2,
.circle3 {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  box-shadow: inset -5px -5px 15px 5px rgba(0,0,0,0.2),
  black .5rem .5rem .5rem;
}

.circle1 {
  width: 18rem;
  height: 18rem;
  background: linear-gradient(to top left, #B2F50C, magenta, #7F32EC);
  position: absolute;
  top: 5rem; 
  right: 1.5rem;
}

.circle2 {
  background: linear-gradient(to bottom right, magenta, #7F32EC, blue);
  position: absolute;
  top: 4rem;
  left: -1rem;
}

.circle3 {
  width: 12rem;
  height: 12rem;
  background: linear-gradient(to top right, whitesmoke, #B2F50C, teal);
  position: absolute;
  top: -1rem;
  right: -.75rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.buttonText {
  font-family: 'Faster One', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title:hover,
.title:focus,
.title:active {
  text-decoration: none;
}

.title {
  font-family: 'Gugi', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 4rem;
  line-height: 1.15;
  margin: 0;
  text-shadow: black 2px 2px 3px;
}

.title,
.description {
  text-align: center;
  z-index: 10;
}

.description {
  color: whitesmoke;
  margin-top: -2rem;
  line-height: 1.5;
  font-size: 1.8rem;
  text-shadow:black 1px 1px 1px,
  rgb(28, 15, 15) 2px 2px 1px;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  background: #B2F50C;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  color: inherit;
  box-shadow: black 8px 8px;
  border: solid, black 1px;
  cursor: pointer;
  margin: 1rem;
  max-width: 300px;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  background: #7F32EC;
  color: #B2F50C;
  border-color: #B2F50C;
  text-shadow: black 1px 1px 1px;
  transform: translate(1%, 5%);
  transition: transform 0.6s ease-in;
  transition: transform 0.3s ease-out;
  animation: MoveUpDown 1s linear infinite;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 2rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
