.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  width: 90%;
  text-align: right;
}

.title span{
  border: thin solid black;
  padding: 10px;
  font-size: xxx-large;
}

.title a{
  text-decoration: underline;
}

.video {
  height: 90vh;
  width: 90%;
}